In [14]:
#Import packages needed
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import requests
import gmaps
from config import gkey
from pprint import pprint
gmaps.configure(api_key=gkey)

## Bringing in the data

In [102]:
#Bringing in cime data and making it a dataframe
crimes_csv = "LACrimes2013Zip.csv"
crimes_df = pd.read_csv(crimes_csv, nrows=10000)
crimes_df.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1,Formatted Address,Zipcode
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,UNK,Unknown,OXFORD,OAKWOOD,"(34.0776, -118.308)","4650-4652 Oakwood Ave, Los Angeles, CA 90004, USA",90004
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,UNK,Unknown,ODIN ST,CAHUENGA BL,"(34.1113, -118.3336)","2314 N Cahuenga Blvd, Los Angeles, CA 90068, USA",90068
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,UNK,Unknown,105TH ST,CROESUS AV,"(33.9406, -118.2338)","2148 E 105th St, Los Angeles, CA 90002, USA",90002
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,UNK,Unknown,101ST ST,JUNIPER ST,"(33.9449, -118.2332)","10100-10198 Juniper St, Los Angeles, CA 90002,...",90002
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),UNK,Unknown,1300 W SEPULVEDA BL,NaN,"(33.8135, -118.2992)","1303 Sepulveda Blvd, Torrance, CA 90501, USA",90501

In [103]:
#Bringing in bike data and making it a dataframe
bike_csv = "los-angeles-metro-bike-share-trip-data/metro-bike-share-trip-data.csv"
bike_df = pd.read_csv(bike_csv, nrows=10000)
bike_df.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,One Way,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Looking at and cleaning the data

In [104]:
# Look at the size of the data
crimes_df.shape

(10000, 16)

In [105]:
# Look at the size of the data
bike_df.shape

(10000, 22)

In [106]:
# Check to see if any NaN's in crimes and how much
crimes_df["Zipcode"].isnull().sum()

0

In [107]:
# Check to see if any NaN's in crimes and how much
bike_df["Zip Codes"].isnull().sum()

5314

In [108]:
# Check to see if any NaN's in crimes and how much
bike_df["Starting Station Latitude"].isnull().sum()

31

In [109]:
# Check to see if any NaN's in crimes and how much
bike_df["Starting Station Longitude"].isnull().sum()

31

In [110]:
# Drop the NaN's in bikes and check to see how much data is left
bike_df_no_nans = bike_df.dropna(subset=["Zip Codes", "Starting Station Latitude", "Starting Station Longitude"])
bike_df_no_nans.shape

(4686, 22)

In [111]:
bike_df_no_nans.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
14,16883024,11100,2016-12-28T15:27:00.000,2016-12-28T18:32:00.000,3016.0,34.052898,-118.241562,NaN,NaN,NaN,...,One Way,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN
32,15177219,13920,2016-12-05T10:43:00.000,2016-12-05T14:35:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Walk-up,"{'longitude': '-118.262733', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN
35,12227457,14580,2016-11-03T17:21:00.000,2016-11-03T21:24:00.000,3027.0,34.049980,-118.247162,3000.0,NaN,NaN,...,One Way,Flex Pass,"{'longitude': '-118.247162', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN
40,16726207,1320,2016-12-25T17:15:00.000,2016-12-25T17:37:00.000,3078.0,34.064281,-118.238937,3000.0,NaN,NaN,...,One Way,Walk-up,"{'longitude': '-118.238937', 'latitude': '34.0...",NaN,28.0,11.0,22728.0,NaN,NaN,NaN
43,13913164,11160,2016-11-19T15:39:00.000,2016-11-19T18:45:00.000,3025.0,34.032860,-118.268082,3000.0,NaN,NaN,...,One Way,Walk-up,"{'longitude': '-118.268082', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN

## Finding new Zip Codes

In [112]:
# Quick look at the Zip Codes and we can tell they are wrong. LA has zip codes in the 90000's
# Create new Zip Code Column
bike_df_no_nans.assign(New_Zip = "")

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New_Zip
14,16883024,11100,2016-12-28T15:27:00.000,2016-12-28T18:32:00.000,3016.0,34.052898,-118.241562,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,
32,15177219,13920,2016-12-05T10:43:00.000,2016-12-05T14:35:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.262733', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
35,12227457,14580,2016-11-03T17:21:00.000,2016-11-03T21:24:00.000,3027.0,34.049980,-118.247162,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.247162', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN,
40,16726207,1320,2016-12-25T17:15:00.000,2016-12-25T17:37:00.000,3078.0,34.064281,-118.238937,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238937', 'latitude': '34.0...",NaN,28.0,11.0,22728.0,NaN,NaN,NaN,
43,13913164,11160,2016-11-19T15:39:00.000,2016-11-19T18:45:00.000,3025.0,34.032860,-118.268082,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.268082', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN,
72,10990870,12060,2016-10-22T11:45:00.000,2016-10-22T15:06:00.000,3032.0,34.049889,-118.255882,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.255882', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
92,14991982,180,2016-12-03T11:12:00.000,2016-12-03T11:15:00.000,3048.0,34.041691,-118.235352,NaN,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,28.0,9.0,23074.0,NaN,NaN,NaN,
109,14792947,23100,2016-11-30T14:47:00.000,2016-11-30T21:12:00.000,3048.0,34.041691,-118.235352,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,28.0,9.0,23074.0,NaN,NaN,NaN,
187,16189278,360,2016-12-17T16:36:00.000,2016-12-17T16:42:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.240967', 'latitude': '34.0...",NaN,28.0,9.0,22728.0,NaN,NaN,NaN,
210,16938072,19380,2016-12-29T14:03:00.000,2016-12-29T19:26:00.000,3042.0,34.049301,-118.238808,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...",NaN,28.0,9.0,22728.0,NaN,NaN,NaN,
216,9681178,18480,2016-10-11T15:19:00.000,2016-10-11T20:27:00.000,3075.0,34.042110,-118.256187,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.256187', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN,
220,8415350,2760,2016-10-01T10:07:00.000,2016-10-01T10:53:00.000,3040.0,34.053570,-118.266357,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.266357', 'latitude': '34.0...",NaN,76.0,11.0,23078.0,NaN,NaN,NaN,
252,13994265,23280,2016-11-20T06:54:00.000,2016-11-20T13:22:00.000,3067.0,34.045181,-118.250237,NaN,NaN,NaN,...,Walk-up,"{'longitude': '-118.250237', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
264,16174505,11460,2016-12-17T08:20:00.000,2016-12-17T11:31:00.000,3076.0,34.040600,-118.253838,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.253838', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
299,13688288,1440,2016-11-17T14:06:00.000,2016-11-17T14:30:00.000,3030.0,34.051941,-118.243530,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.24353', 'latitude': '34.05...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,
337,16039703,42900,2016-12-15T02:31:00.000,2016-12-15T14:26:00.000,3051.0,34.045422,-118.253517,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.253517', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
343,11110566,11820,2016-10-23T13:54:00.000,2016-10-23T17:11:00.000,3005.0,34.048550,-118.259048,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.259048', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
347,9140986,11160,2016-10-07T09:00:00.000,2016-10-07T12:06:00.000,3042.0,34.049301,-118.238808,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238808', 'latitude': '34.0...",NaN,28.0,9.0,22728.0,NaN,NaN,NaN,
360,13083292,11040,2016-11-11T14:16:00.000,2016-11-11T17:20:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.252441', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
367,11312442,1200,2016-10-25T16:40:00.000,2016-10-25T17:00:00.000,3038.0,34.046822,-118.248352,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.248352', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN,
391,16782960,12540,2016-12-26T14:47:00.000,2016-12-26T18:16:00.000,3058.0,34.035801,-118.233170,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.23317', 'latitude': '34.03...",NaN,28.0,9.0,23082.0,NaN,NaN,NaN,
412,16787715,12240,2016-12-26T16:36:00.000,2016-12-26T20:00:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238327', 'latitude': '34.0...",NaN,28.0,11.0,22728.0,NaN,NaN,NaN,
431,15512093,86400,2016-12-05T21:01:00.000,2016-12-09T09:10:00.000,3076.0,34.040600,-118.253838,NaN,NaN,NaN,...,Walk-up,"{'longitude': '-118.253838', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
442,15980925,900,2016-12-14T20:41:00.000,2016-12-14T20:56:00.000,3048.0,34.041691,-118.235352,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,28.0,9.0,23074.0,NaN,NaN,NaN,
516,12005428,11580,2016-11-01T16:07:00.000,2016-11-01T19:20:00.000,3037.0,34.034801,-118.231277,3000.0,NaN,NaN,...,Staff Annual,"{'longitude': '-118.231277', 'latitude': '34.0...",NaN,28.0,9.0,23082.0,NaN,NaN,NaN,
539,9747420,11940,2016-10-12T07:27:00.000,2016-10-12T10:46:00.000,3058.0,34.035801,-118.233170,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.23317', 'latitude': '34.03...",NaN,28.0,9.0,23082.0,NaN,NaN,NaN,
554,15013615,300,2016-12-03T17:32:00.000,2016-12-03T17:37:00.000,3068.0,34.053200,-118.250954,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.250954', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,
604,16320553,1860,2016-12-19T13:17:00.000,2016-12-19T13:48:00.000,3005.0,34.048550,-118.259048,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.259048', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
621,15618634,47760,2016-12-10T01:37:00.000,2016-12-10T14:53:00.000,3067.0,34.045181,-118.250237,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.250237', 'latitude': '34.0...",NaN,76.0,9.0,23075.0,NaN,NaN,NaN,
669,9513031,10980,2016-10-10T08:52:00.000,2016-10-10T11:55:00.000,3042.0,34.049301,-118.238808,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238808', 'latitude': '34.0...",NaN,28.0,9.0,22728.0,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9950,12666559,240,2016-11-07T18:04:00.000,2016-11-07T18:08:00.000,3031.0,34.044701,-118.252441,3032.0,34.049889,-118.255882,...,Monthly Pass,"{'longitude': '-118.252441', 'latitude': '34.0...","{'longitude': '-118.255882', 'latitude': '34.0...",76.0,9.0,23075.0,NaN,733.0,546.0,
9951,11287080,240,2016-10-25T11:33:00.000,2016-10-25T11:37:00.000,3016.0,34.052898,-118.241562,3079.0,34.050140,-118.233238,...,Monthly Pass,"{'longitude': '-118.241562', 'latitude': '34.0...","{'longitude': '-118.233238', 'latitude': '34.0...",76.0,9.0,22728.0,NaN,466.0,533.0,
9954,12641939,540,2016-11-07T13:16:00.000,2016-11-07T13:25:00.000,3069.0,34.050880,-118.248253,3076.0,34.040600,-118.253838,...,Flex Pass,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.253838', 'latitude': '34.0...",76.0,9.0,23074.0,NaN,1319.0,703.0,
9955,15867359,1500,2016-12-13T10:50:00.000,2016-12-13T11:15:00.000,3024.0,34.057720,-118.248970,3064.0,34.046810,-118.256981,...,Monthly Pass,"{'longitude': '-118.24897', 'latitude': '34.05...","{'longitude': '-118.256981', 'latitude': '34.0...",76.0,9.0,22728.0,NaN,1050.0,546.0,
9956,16447764,1260,2016-12-21T09:57:00.000,2016-12-21T10:18:00.000,3024.0,34.057720,-118.248970,3069.0,34.050880,-118.248253,...,Monthly Pass,"{'longitude': '-118.24897', 'latitude': '34.05...","{'longitude': '-118.248253', 'latitude': '34.0...",76.0,9.0,22728.0,NaN,1183.0,541.0,
9958,13143478,720,2016-11-12T07:13:00.000,2016-11-12T07:25:00.000,3027.0,34.049980,-118.247162,3011.0,34.041130,-118.267982,...,Monthly Pass,"{'longitude': '-118.247162', 'latitude': '34.0...","{'longitude': '-118.267982', 'latitude': '34.0...",76.0,9.0,23074.0,34.0,1227.0,546.0,
9959,14441463,480,2016-11-25T15:29:00.000,2016-11-25T15:37:00.000,3007.0,34.050480,-118.254593,3034.0,34.042061,-118.263382,...,Monthly Pass,"{'longitude': '-118.254593', 'latitude': '34.0...","{'longitude': '-118.263382', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,773.0,547.0,
9961,12390530,60,2016-11-05T09:47:00.000,2016-11-05T09:48:00.000,3069.0,34.050880,-118.248253,3069.0,34.050880,-118.248253,...,Monthly Pass,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.248253', 'latitude': '34.0...",76.0,9.0,23074.0,NaN,1183.0,541.0,
9963,14587935,720,2016-11-27T17:07:00.000,2016-11-27T17:19:00.000,3005.0,34.048550,-118.259048,3069.0,34.050880,-118.248253,...,Walk-up,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.248253', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,1183.0,541.0,
9964,9776359,420,2016-10-12T16:43:00.000,2016-10-12T16:50:00.000,3067.0,34.045181,-118.250237,3006.0,34.045540,-118.256668,...,Monthly Pass,"{'longitude': '-118.250237', 'latitude': '34.0...","{'longitude': '-118.256668', 'latitude': '34.0...",76.0,9.0,23075.0,NaN,1050.0,546.0,
9965,11436475,360,2016-10-26T23:21:00.000,2016-10-26T23:27:00.000,3031.0,34.044701,-118.252441,3005.0,34.048550,-118.259048,...,Walk-up,"{'longitude': '-118.252441', 'latitude': '34.0...","{'longitude': '-118.259048', 'latitude': '34.0...",76.0,9.0,23075.0,NaN,1050.0,546.0,
9967,15086148,3300,2016-12-04T12:40:00.000,2016-12-04T13:35:00.000,3005.0,34.048550,-118.259048,3005.0,34.048550,-118.259048,...,Walk-up,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.259048', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,1050.0,546.0,
9968,11123975,9720,2016-10-23T17:33:00.000,2016-10-23T20:15:00.000,3067.0,34.045181,-118.250237,3064.0,34.046810,-118.256981,...,Monthly Pass,"{'longitude': '-118.250237', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0...",76.0,9.0,23075.0,NaN,1050.0,546.0,
9972,12297508,180,2016-11-04T13:12:00.000,2016-11-04T13:15:00.000,3005.0,34.048550,-118.259048,3034.0,34.042061,-118.263382,...,Monthly Pass,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.263382', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,773.0,547.0,
9974,13500572,360,2016-11-15T17:20:00.000,2016-11-15T17:26:00.000,3005.0,34.048550,-118.259048,3055.0,34.044159,-118.251579,...,Monthly Pass,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.251579', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,527.0,542.0,
9975,12651646,360,2016-11-07T15:47:00.000,2016-11-07T15:53:00.000,3019.0,34.038609,-118.260857,3025.0,34.032860,-118.268082,...,Monthly Pass,"{'longitude': '-118.260857', 'latitude': '34.0...","{'longitude': '-118.268082', 'latitude': '34.0...",76.0,9.0,23076.0,7.0,1220.0,694.0,
9977,13883129,6720,2016-11-19T09:11:00.000,2016-11-19T11:03:00.000,3014.0,34.056610,-118.237213,3014.0,34.056610,-118.237213,...,Walk-up,"{'longitude': '-118.237213', 'latitude': '34.0...","{'longitude': '-118.237213', 'latitude': '34.0...",28.0,9.0,22728.0,27.0,1322.0,532.0,
9981,9761619,540,2016-10-12T13:05:00.000,2016-10-12T13:14:00.000,3035.0,34.048401,-118.260948,3055.0,34.044159,-118.251579,...,Monthly Pass,"{'longitude': '-118.260948', 'latitude': '34.0...","{'longitude': '-118.251579', 'latitude': '34.0...",76.0,9.0,23078.0,NaN,527.0,542.0,
9982,16533948,240,2016-12-22T17:40:00.000,2016-12-22T17:44:00.000,3005.0,34.048550,-118.259048,3052.0,34.051102,-118.264557,...,Staff Annual,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.264557', 'latitude': '34.0...",76.0,9.0,23078.0,54.0,847.0,567.0,
9983,15485283,480,2016-12-09T02:20:00.000,2016-12-09T02:28:00.000,3063.0,34.049198,-118.252831,3082.0,34.046520,-118.237411,...,Walk-up,"{'longitude': '-118.252831', 'latitude': '34.0...","{'longitude': '-118.237411', 'latitude': '34.0...",76.0,9.0,23074.0,NaN,466.0,533.0,
9986,9802062,360,2016-10-12T21:41:00.000,2016-10-12T21:47:00.000,3014.0,34.056610,-118.237213,3066.0,34.063389,-118.236160,...,Monthly Pass,"{'longitude': '-118.237213', 'latitude': '34.0...","{'longitude': '-118.23616', 'latitude': '34.06...",28.0,9.0,22728.0,NaN,449.0,540.0,
9987,15753741,2700,2016-12-12T01:24:00.000,2016-12-12T02:09:00.000,3011.0,34.041130,-118.267982,3047.0,34.039982,-118.266403,...,Walk-up,"{'longitude': '-118.267982', 'latitude': '34.0...","{'longitude': '-118.266403', 'latitude': '34.0...",76.0,13.0,23076.0,NaN,773.0,547.0,
9988,11287834,86400,2016-10-24T00:47:00.000,2016-10-25T11:06:00.000,3047.0,34.039982,-118.266403,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.266403', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN,
9989,14823398,420,2016-12-01T08:48:00.000,2016-12-01T08:55:00.000,3069.0,34.050880,-118.248253,3042.0,34.049301,-118.238808,...,Monthly Pass,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.238808', 'latitude': '34.0...",76.0,9.0,23074.0,NaN,1502.0,536.0,
9990,11436472,480,2016-10-26T23:27:00.000,2016-10-26T23:35:00.000,3036.0,34.039188,-118.232529,3022.0,34.046070,-118.233093,...,Walk-up,"{'longitude': '-118.232529', 'latitude': '34.0...","{'longitude': '-118.233093', 'latitude': '34.0...",28.0,9.0,23074.0,NaN,466.0,533.0,
9992,12753571,13140,2016-11-08T09:45:00.000,2016-11-08T13:24:00.000,3069.0,34.050880,-118.248253,3000.0,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.248253', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN,
9993,14266912,720,2016-11-23T12:29:00.000,2016-11-23T12:41:00.000,3055.0,34.044159,-118.251579,3058.0,34.035801,-118.233170,...,Monthly Pass,"{'longitude': '-118.251579', 'latitude': '34.0...","{'longitude': '-118.23317', 'latitude': '34.03...",76.0,9.0,23075.0,NaN,1287.0,533.0,
9994,11719293,840,2016-10-29T21:17:00.000,2016-10-29T21:31:00.000,3036.0,34.039188,-118.232529,3062.0,34.047749,-118.243172,...,Walk-up,"{'longitude': '-118.232529', 'latitude': '34.0...","{'longitude': '-118.243172', 'latitude': '34.0...",28.0,9.0,23074.0,NaN,1502.0,536.0,
9998,9533669,720,2016-10-10T15:17:00.000,2016-10-10T15:29:00.000,3068.0,34.053200,-118.250954,3023.0,34.050911,-118.240967,...,Walk-up,"{'longitude': '-118.250954', 'latitude': '34.0...","{'longitude': '-118.240967', 'latitude': '34.0...",76.0,9.0,22728.0,NaN,1502.0,543.0,
9999,8700407,420,2016-10-03T21:24:00.000,2016-10-03T21:31:00.000,3048.0,34.041691,-118.235352,3022.0,34.046070,-118.233093,...,Monthly Pass,"{'longitude': '-118.235352', 'latitude': '34.0...","{'longitude': '-118.233093', 'latitude': '34.0...",28.0,9.0,23074.0,NaN,466.0,533.0,

In [ ]:
count = 0
for index, row in bike_df_no_nans.iterrows():
    
    lat = row["Starting Station Latitude"]
    long = row["Starting Station Longitude"]


    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
                  'latlng={lat},{long}&key={gkey}').format(lat=lat, long=long, gkey=gkey)
    response = requests.get(target_url).json()
    
    try:
        bike_df_no_nans.loc[index, 'New Zip'] = int(response['results'][0]['address_components'][7]['long_name'])
#         print(f"Adding {response['results'][0]['address_components'][7]['long_name']}")
    except:
        bike_df_no_nans.loc[index, 'New Zip'] = np.nan
        count += 1
print(f'Finished retrieving zip code data. Couldn\'t find {count} zip codes.')
bike_df_no_nans.head()

/Users/kevinheaney/anaconda3/envs/WashU/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/kevinheaney/anaconda3/envs/WashU/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [29]:
# See how many 'New Zip' NaN's there are
bike_df_no_nans["New Zip"].isnull().sum()

5

In [30]:
bike_df_no_nans.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New Zip
14,16883024,11100,2016-12-28T15:27:00.000,2016-12-28T18:32:00.000,3016.0,34.052898,-118.241562,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,90012.0
32,15177219,13920,2016-12-05T10:43:00.000,2016-12-05T14:35:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.262733', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,NaN
35,12227457,14580,2016-11-03T17:21:00.000,2016-11-03T21:24:00.000,3027.0,34.049980,-118.247162,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.247162', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN,90013.0
40,16726207,1320,2016-12-25T17:15:00.000,2016-12-25T17:37:00.000,3078.0,34.064281,-118.238937,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238937', 'latitude': '34.0...",NaN,28.0,11.0,22728.0,NaN,NaN,NaN,90012.0
43,13913164,11160,2016-11-19T15:39:00.000,2016-11-19T18:45:00.000,3025.0,34.032860,-118.268082,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.268082', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN,90015.0

In [31]:
# Drop the NaN's from dataframe
bike_df_no_nans_zip = bike_df_no_nans.dropna(subset=["New Zip"])
bike_df_no_nans_zip.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New Zip
14,16883024,11100,2016-12-28T15:27:00.000,2016-12-28T18:32:00.000,3016.0,34.052898,-118.241562,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,90012.0
35,12227457,14580,2016-11-03T17:21:00.000,2016-11-03T21:24:00.000,3027.0,34.049980,-118.247162,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.247162', 'latitude': '34.0...",NaN,76.0,9.0,23074.0,NaN,NaN,NaN,90013.0
40,16726207,1320,2016-12-25T17:15:00.000,2016-12-25T17:37:00.000,3078.0,34.064281,-118.238937,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.238937', 'latitude': '34.0...",NaN,28.0,11.0,22728.0,NaN,NaN,NaN,90012.0
43,13913164,11160,2016-11-19T15:39:00.000,2016-11-19T18:45:00.000,3025.0,34.032860,-118.268082,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.268082', 'latitude': '34.0...",NaN,76.0,9.0,23076.0,NaN,NaN,NaN,90015.0
72,10990870,12060,2016-10-22T11:45:00.000,2016-10-22T15:06:00.000,3032.0,34.049889,-118.255882,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.255882', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,90071.0

## Get the clean dataframe to be used

In [32]:
final_bike = bike_df_no_nans_zip[["New Zip", "Trip ID"]].copy()
final_bike.head()

    New Zip   Trip ID
14  90012.0  16883024
35  90013.0  12227457
40  90012.0  16726207
43  90015.0  13913164
72  90071.0  10990870

In [33]:
final_bike.shape

(32, 2)

In [65]:
groupby_zip_bikes = final_bike.groupby('New Zip').agg(bike_ride_count=("Trip ID", "count"))


# groupby_zip_bikes = final_bike.groupby("New Zip").agg(bike_ride_count=({"Trip ID" : "count"}))
#  df.groupby('kind').agg(min_height=('height', 'min'), 
#                                max_weight=('weight', 'max'))

TypeError: aggregate() missing 1 required positional argument: 'arg'

In [96]:
groupby_zip_bikes = final_bike.groupby("New Zip").count()
groupby_zip_bikes

         Trip ID
New Zip
90012.0       11
90013.0        6
90014.0        6
90015.0        1
90017.0        4
90021.0        3
90071.0        1

In [97]:
groupby_zip_bikes.reset_index(inplace=True)
groupby_zip_bikes

   New Zip  Trip ID
0  90012.0       11
1  90013.0        6
2  90014.0        6
3  90015.0        1
4  90017.0        4
5  90021.0        3
6  90071.0        1

In [98]:
groupby_zip_bikes.rename(index=str, columns={"New Zip":"new_zip","Trip ID": "bike_ride_count"}, inplace=True)
groupby_zip_bikes

   new_zip  bike_ride_count
0  90012.0               11
1  90013.0                6
2  90014.0                6
3  90015.0                1
4  90017.0                4
5  90021.0                3
6  90071.0                1

In [79]:
# Get only the columns that we need and make a new dataframe
new_crimes_df = crimes_df[["DR.NO", "Zipcode"]].copy()
new_crimes_df.head()

       DR.NO  Zipcode
0  132007717    90004
1  130608787    90068
2  131820260    90002
3  131817514    90002
4  130510483    90501

In [39]:
new_crimes_df.shape

(1000, 2)

In [75]:
groupby_zip_crimes = new_crimes_df.groupby("Zipcode").count()
groupby_zip_crimes.head()

         DR.NO
Zipcode
90001        3
90002       14
90003       30
90004        7
90005        6

In [83]:
groupby_zip_crimes.rename(index=str, columns={"Zipcode":"zipcode","DR.NO": "crime_count"}, inplace=True)
groupby_zip_crimes.head()

  zipcode  crime_count
0   90001            3
1   90002           14
2   90003           30
3   90004            7
4   90005            6

In [78]:
# Reset set the index
groupby_zip_crimes.reset_index(inplace=True)
groupby_zip_crimes.head()

  Zipcode  crime_count
0   90001            3
1   90002           14
2   90003           30
3   90004            7
4   90005            6

## Connect to local database

In [47]:
rds_connection_string = "postgres:postgres@localhost:5432/bike_crime_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

## Check for tables

In [82]:
engine.table_names()

['bike_la', 'crimes_la']

In [99]:
groupby_zip_bikes.to_sql(name='bike_la', con=engine, if_exists='append', index=False)

In [84]:
groupby_zip_crimes.to_sql(name='crimes_la', con=engine, if_exists='append', index=False)

In [100]:
pd.read_sql_query('SELECT * from bike_la', con=engine).head()

   new_zip  bike_ride_count
0    90012               11
1    90013                6
2    90014                6
3    90015                1
4    90017                4

In [101]:
pd.read_sql_query('SELECT * from crimes_la', con=engine).head()

   zipcode  crime_count
0    90001            3
1    90002           14
2    90003           30
3    90004            7
4    90005            6

In [ ]:
crimes_html = new_crimes_df.head(20).to_html(classes=["table-bordered", "table-striped", "table-hover"])
crimes_html