In [1]:
#Import packages needed
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import requests
import gmaps
from config import gkey, pkey
from pprint import pprint
gmaps.configure(api_key=gkey)

## Bringing in the data

In [2]:
#Bringing in cime data and making it a dataframe
crimes_csv = "LACrimes2013Zip.csv"
crimes_df = pd.read_csv(crimes_csv, nrows=100)
crimes_df.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1,Formatted Address,Zipcode
0,03/20/2013,132007717,03/20/2013,2015,20,Olympic,2004,997,TRAFFIC DR #,UNK,Unknown,OXFORD,OAKWOOD,"(34.0776, -118.308)","4650-4652 Oakwood Ave, Los Angeles, CA 90004, USA",90004
1,03/10/2013,130608787,03/10/2013,445,6,Hollywood,635,997,TRAFFIC DR #,UNK,Unknown,ODIN ST,CAHUENGA BL,"(34.1113, -118.3336)","2314 N Cahuenga Blvd, Los Angeles, CA 90068, USA",90068
2,12/18/2013,131820260,12/18/2013,745,18,Southeast,1839,997,TRAFFIC DR #,UNK,Unknown,105TH ST,CROESUS AV,"(33.9406, -118.2338)","2148 E 105th St, Los Angeles, CA 90002, USA",90002
3,10/18/2013,131817514,10/18/2013,1730,18,Southeast,1827,997,TRAFFIC DR #,UNK,Unknown,101ST ST,JUNIPER ST,"(33.9449, -118.2332)","10100-10198 Juniper St, Los Angeles, CA 90002,...",90002
4,05/26/2013,130510483,05/25/2013,2000,5,Harbor,507,440,THEFT PLAIN - PETTY (UNDER $400),UNK,Unknown,1300 W SEPULVEDA BL,NaN,"(33.8135, -118.2992)","1303 Sepulveda Blvd, Torrance, CA 90501, USA",90501

In [3]:
#Bringing in bike data and making it a dataframe
bike_csv = "los-angeles-metro-bike-share-trip-data/metro-bike-share-trip-data.csv"
bike_df = pd.read_csv(bike_csv, nrows=100)
bike_df.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9518671,77160,2016-10-09T14:37:00.000,2016-10-10T12:03:00.000,NaN,NaN,NaN,3000.0,NaN,NaN,...,One Way,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Looking at and cleaning the data

In [4]:
# Look at the size of the data
crimes_df.shape

(100, 16)

In [5]:
# Look at the size of the data
bike_df.shape

(100, 22)

In [6]:
# Check to see if any NaN's in crimes and how much
crimes_df["Zipcode"].isnull().sum()

0

In [7]:
# Check to see if any NaN's in crimes and how much
bike_df["Zip Codes"].isnull().sum()

93

In [8]:
# Check to see if any NaN's in crimes and how much
bike_df["Starting Station Latitude"].isnull().sum()

3

In [9]:
# Check to see if any NaN's in crimes and how much
bike_df["Starting Station Longitude"].isnull().sum()

3

In [10]:
# Drop the NaN's in bikes and check to see how much data is left
bike_df_no_nans = bike_df.dropna(subset=["Starting Station Latitude", "Starting Station Longitude"])
bike_df_no_nans.shape

(97, 22)

In [11]:
bike_df_no_nans.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,One Way,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21784648,14760,2017-03-10T17:38:00.000,2017-03-10T21:44:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,One Way,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Finding new Zip Codes

In [12]:
# Quick look at the Zip Codes and we can tell they are wrong. LA has zip codes in the 90000's
# Create new Zip Code Column
bike_df_no_nans.assign(New_Zip = "")

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New_Zip
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
6,21784648,14760,2017-03-10T17:38:00.000,2017-03-10T21:44:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7,22506739,79020,2017-03-17T19:20:00.000,2017-03-18T17:17:00.000,3063.0,34.049198,-118.252831,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
8,20889067,86400,2017-02-26T12:18:00.000,2017-02-27T12:36:00.000,3062.0,34.047749,-118.243172,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,18481915,600,2017-01-23T18:48:00.000,2017-01-23T18:58:00.000,3082.0,34.046520,-118.237411,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
10,19858915,56100,2017-02-11T16:59:00.000,2017-02-12T08:34:00.000,3036.0,34.039188,-118.232529,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
11,19403230,480,2017-02-05T09:43:00.000,2017-02-05T09:51:00.000,3064.0,34.046810,-118.256981,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
13,18732968,480,2017-01-27T19:55:00.000,2017-01-27T20:03:00.000,3063.0,34.049198,-118.252831,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14,16883024,11100,2016-12-28T15:27:00.000,2016-12-28T18:32:00.000,3016.0,34.052898,-118.241562,NaN,NaN,NaN,...,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN,76.0,9.0,22728.0,NaN,NaN,NaN,
15,20298819,780,2017-02-18T12:39:00.000,2017-02-18T12:52:00.000,3014.0,34.056610,-118.237213,3000.0,NaN,NaN,...,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
16,18772045,60600,2017-01-27T19:15:00.000,2017-01-28T12:05:00.000,3069.0,34.050880,-118.248253,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
17,21369192,1380,2017-03-05T18:35:00.000,2017-03-05T18:58:00.000,3078.0,34.064281,-118.238937,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
18,22579585,1860,2017-03-19T12:24:00.000,2017-03-19T12:55:00.000,3014.0,34.056610,-118.237213,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
19,23348765,64740,2017-03-27T17:26:00.000,2017-03-28T11:25:00.000,3040.0,34.053570,-118.266357,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
20,19350050,51660,2017-02-04T03:15:00.000,2017-02-04T17:36:00.000,3049.0,34.056969,-118.253593,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
21,18324185,900,2017-01-21T11:25:00.000,2017-01-21T11:40:00.000,3037.0,34.034801,-118.231277,3000.0,NaN,NaN,...,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
22,22219074,11580,2017-03-15T13:41:00.000,2017-03-15T16:54:00.000,3068.0,34.053200,-118.250954,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
23,21653845,1080,2017-03-09T07:36:00.000,2017-03-09T07:54:00.000,3052.0,34.051102,-118.264557,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,17891894,10980,2017-01-14T11:28:00.000,2017-01-14T14:31:00.000,3007.0,34.050480,-118.254593,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
25,17848847,480,2017-01-13T21:32:00.000,2017-01-13T21:40:00.000,3082.0,34.046520,-118.237411,3036.0,34.039188,-118.232529,...,Walk-up,NaN,"{'longitude': '-118.232529', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1287.0,533.0,
26,20700706,540,2017-02-24T23:13:00.000,2017-02-24T23:22:00.000,3029.0,34.048851,-118.246422,3082.0,34.046520,-118.237411,...,Monthly Pass,NaN,"{'longitude': '-118.237411', 'latitude': '34.0...",NaN,NaN,NaN,NaN,466.0,533.0,
27,20595730,840,2017-02-23T07:34:00.000,2017-02-23T07:48:00.000,3022.0,34.046070,-118.233093,3005.0,34.048550,-118.259048,...,Monthly Pass,NaN,"{'longitude': '-118.259048', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1050.0,546.0,
28,17307719,420,2017-01-05T12:04:00.000,2017-01-05T12:11:00.000,3059.0,34.037949,-118.256271,3038.0,34.046822,-118.248352,...,Monthly Pass,NaN,"{'longitude': '-118.248352', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1502.0,542.0,
29,21043356,720,2017-03-01T12:56:00.000,2017-03-01T13:08:00.000,3082.0,34.046520,-118.237411,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
30,23259758,76860,2017-03-26T14:37:00.000,2017-03-27T11:58:00.000,3063.0,34.049198,-118.252831,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
31,18941656,840,2017-01-30T20:19:00.000,2017-01-30T20:33:00.000,3035.0,34.048401,-118.260948,3040.0,34.053570,-118.266357,...,Walk-up,NaN,"{'longitude': '-118.266357', 'latitude': '34.0...",NaN,NaN,NaN,54.0,1047.0,564.0,
32,15177219,13920,2016-12-05T10:43:00.000,2016-12-05T14:35:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Walk-up,"{'longitude': '-118.262733', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,22494577,53340,2017-03-17T23:27:00.000,2017-03-18T14:16:00.000,3063.0,34.049198,-118.252831,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
71,17242897,5280,2017-01-04T08:07:00.000,2017-01-04T09:35:00.000,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,...,Monthly Pass,NaN,"{'longitude': '-118.252831', 'latitude': '34.0...",NaN,NaN,NaN,NaN,733.0,546.0,
72,10990870,12060,2016-10-22T11:45:00.000,2016-10-22T15:06:00.000,3032.0,34.049889,-118.255882,3000.0,NaN,NaN,...,Flex Pass,"{'longitude': '-118.255882', 'latitude': '34.0...",NaN,76.0,9.0,23078.0,NaN,NaN,NaN,
73,21348919,1200,2017-03-05T11:46:00.000,2017-03-05T12:06:00.000,3011.0,34.041130,-118.267982,3063.0,34.049198,-118.252831,...,Walk-up,NaN,"{'longitude': '-118.252831', 'latitude': '34.0...",NaN,NaN,NaN,NaN,733.0,546.0,
74,19006181,120,2017-01-31T16:35:00.000,2017-01-31T16:37:00.000,3056.0,34.037460,-118.265381,3047.0,34.039982,-118.266403,...,Monthly Pass,NaN,"{'longitude': '-118.266403', 'latitude': '34.0...",NaN,NaN,NaN,NaN,773.0,547.0,
75,23169089,4260,2017-03-26T09:04:00.000,2017-03-26T10:15:00.000,3039.0,34.024479,-118.393867,3009.0,33.987381,-118.472832,...,Walk-up,NaN,"{'longitude': '-118.472832', 'latitude': '33.9...",NaN,NaN,NaN,10.0,1263.0,909.0,
76,19942311,240,2017-02-13T16:03:00.000,2017-02-13T16:07:00.000,3035.0,34.048401,-118.260948,3034.0,34.042061,-118.263382,...,Monthly Pass,NaN,"{'longitude': '-118.263382', 'latitude': '34.0...",NaN,NaN,NaN,NaN,773.0,547.0,
77,21889466,1200,2017-03-12T00:43:00.000,2017-03-12T01:03:00.000,3076.0,34.040600,-118.253838,3029.0,34.048851,-118.246422,...,Walk-up,NaN,"{'longitude': '-118.246422', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1502.0,542.0,
78,19013095,2100,2017-01-31T18:12:00.000,2017-01-31T18:47:00.000,3055.0,34.044159,-118.251579,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
79,21937873,1560,2017-03-12T14:37:00.000,2017-03-12T15:03:00.000,3006.0,34.045540,-118.256668,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
80,18853818,2280,2017-01-29T16:37:00.000,2017-01-29T17:15:00.000,3036.0,34.039188,-118.232529,3036.0,34.039188,-118.232529,...,Walk-up,NaN,"{'longitude': '-118.232529', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1287.0,533.0,
81,22510364,600,2017-03-18T18:12:00.000,2017-03-18T18:22:00.000,3023.0,34.050911,-118.240967,3031.0,34.044701,-118.252441,...,Monthly Pass,NaN,"{'longitude': '-118.252441', 'latitude': '34.0...",NaN,NaN,NaN,NaN,683.0,541.0,
82,23274018,1260,2017-03-27T15:25:00.000,2017-03-27T15:46:00.000,3006.0,34.045540,-118.256668,3069.0,34.050880,-118.248253,...,Walk-up,NaN,"{'longitude': '-118.248253', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1183.0,541.0,
83,18332441,840,2017-01-21T14:08:00.000,2017-01-21T14:22:00.000,3029.0,34.048851,-118.246422,3048.0,34.041691,-118.235352,...,Walk-up,NaN,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1287.0,533.0,
84,21930226,960,2017-03-12T12:59:00.000,2017-03-12T13:15:00.000,3038.0,34.046822,-118.248352,3034.0,34.042061,-118.263382,...,Walk-up,NaN,"{'longitude': '-118.263382', 'latitude': '34.0...",NaN,NaN,NaN,NaN,773.0,547.0,
85,22396707,3300,2017-03-17T12:52:00.000,2017-03-17T13:47:00.000,3034.0,34.042061,-118.263382,3034.0,34.042061,-118.263382,...,Walk-up,NaN,"{'longitude': '-118.263382', 'latitude': '34.0...",NaN,NaN,NaN,NaN,773.0,547.0,
86,19837292,420,2017-02-11T22:56:00.000,2017-02-11T23:03:00.000,3005.0,34.048550,-118.259048,3063.0,34.049198,-118.252831,...,Walk-up,NaN,"{'longitude': '-118.252831', 'latitude': '34.0...",NaN,NaN,NaN,NaN,733.0,546.0,
87,20507980,660,2017-02-21T17:08:00.000,2017-02-21T17:19:00.000,3076.0,34.040600,-118.253838,3014.0,34.056610,-118.237213,...,Monthly Pass,NaN,"{'longitude': '-118.237213', 'latitude': '34.0...",NaN,NaN,NaN,27.0,1322.0,532.0,
88,22290387,1200,2017-03-16T09:50:00.000,2017-03-16T10:10:00.000,3032.0,34.049889,-118.255882,3030.0,34.051941,-118.243530,...,Flex Pass,NaN,"{'longitude': '-118.24353', 'latitude': '34.05...",NaN,NaN,NaN,NaN,1502.0,543.0,
89,22923528,480,2017-03-23T11:47:00.000,2017-03-23T11:55:00.000,3042.0,34.049301,-118.238808,3027.0,34.049980,-118.247162,...,Monthly Pass,NaN,"{'longitude': '-118.247162', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1183.0,542.0,
90,18789632,1440,2017-01-28T18:57:00.000,2017-01-28T19:21:00.000,3046.0,34.053020,-118.247948,3055.0,34.044159,-118.251579,...,Walk-up,NaN,"{'longitude': '-118.251579', 'latitude': '34.0...",NaN,NaN,NaN,NaN,527.0,542.0,
91,21796017,1260,2017-03-11T00:17:00.000,2017-03-11T00:38:00.000,3048.0,34.041691,-118.235352,3048.0,34.041691,-118.235352,...,Walk-up,NaN,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1287.0,533.0,
92,14991982,180,2016-12-03T11:12:00.000,2016-12-03T11:15:00.000,3048.0,34.041691,-118.235352,NaN,NaN,NaN,...,Monthly Pass,"{'longitude': '-118.235352', 'latitude': '34.0...",NaN,28.0,9.0,23074.0,NaN,NaN,NaN,
93,18767223,840,2017-01-28T10:03:00.000,2017-01-28T10:17:00.000,3075.0,34.042110,-118.256187,3075.0,34.042110,-118.256187,...,Walk-up,NaN,"{'longitude': '-118.256187', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1319.0,547.0,
94,18209917,9000,2017-01-19T15:06:00.000,2017-01-19T17:36:00.000,3014.0,34.056610,-118.237213,3000.0,NaN,NaN,...,Monthly Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
95,17708234,1860,2017-01-11T15:39:00.000,2017-01-11T16:10:00.000,3008.0,34.046612,-118.262733,3068.0,34.053200,-118.250954,...,Walk-up,NaN,"{'longitude': '-118.250954', 'latitude': '34.0...",NaN,NaN,NaN,37.0,1183.0,545.0,
96,20449945,23700,2017-02-20T10:30:00.000,2017-02-20T17:05:00.000,3030.0,34.051941,-118.243530,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
97,21289774,240,2017-03-04T18:49:00.000,2017-03-04T18:53:00.000,3031.0,34.044701,-118.252441,3064.0,34.046810,-118.256981,...,Monthly Pass,NaN,"{'longitude': '-118.256981', 'latitude': '34.0...",NaN,NaN,NaN,NaN,1050.0,546.0,
98,20911624,720,2017-02-27T19:32:00.000,2017-02-27T19:44:00.000,3031.0,34.044701,-118.252441,3026.0,34.063179,-118.245880,...,Walk-up,NaN,"{'longitude': '-118.24588', 'latitude': '34.06...",NaN,NaN,NaN,NaN,449.0,538.0,
99,19013086,480,2017-01-31T18:19:00.000,2017-01-31T18:27:00.000,3082.0,34.046520,-118.237411,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [13]:
count = 0
for index, row in bike_df_no_nans.iterrows():
    
    lat = row["Starting Station Latitude"]
    long = row["Starting Station Longitude"]


    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
                  'latlng={lat},{long}&key={gkey}').format(lat=lat, long=long, gkey=gkey)
    response = requests.get(target_url).json()
    
    try:
        bike_df_no_nans.loc[index, 'New Zip'] = int(response['results'][0]['address_components'][7]['long_name'])
#         print(f"Adding {response['results'][0]['address_components'][7]['long_name']}")
    except:
        bike_df_no_nans.loc[index, 'New Zip'] = np.nan
        count += 1
print(f'Finished retrieving zip code data. Couldn\'t find {count} zip codes.')
bike_df_no_nans.head()

/Users/kevinheaney/anaconda3/envs/WashU/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/kevinheaney/anaconda3/envs/WashU/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Finished retrieving zip code data. Couldn't find 16 zip codes.

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New Zip
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90014.0
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21784648,14760,2017-03-10T17:38:00.000,2017-03-10T21:44:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0

In [14]:
# See how many 'New Zip' NaN's there are
bike_df_no_nans["New Zip"].isnull().sum()

16

In [15]:
bike_df_no_nans.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New Zip
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90014.0
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
4,21031476,86400,2017-02-27T20:26:00.000,2017-03-01T09:49:00.000,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,...,Flex Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21784648,14760,2017-03-10T17:38:00.000,2017-03-10T21:44:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0

In [16]:
# Drop the NaN's from dataframe
bike_df_no_nans_zip = bike_df_no_nans.dropna(subset=["New Zip"])
bike_df_no_nans_zip.head()

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,...,Passholder Type,Starting Lat-Long,Ending Lat-Long,Neighborhood Councils (Certified),Council Districts,Zip Codes,LA Specific Plans,Precinct Boundaries,Census Tracts,New Zip
0,18222186,15060,2017-01-19T17:05:00.000,2017-01-19T21:16:00.000,3031.0,34.044701,-118.252441,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90014.0
2,20444932,86400,2017-02-18T10:15:00.000,2017-02-20T15:20:00.000,3026.0,34.063179,-118.245880,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
3,20905031,18840,2017-02-27T12:26:00.000,2017-02-27T17:40:00.000,3023.0,34.050911,-118.240967,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
6,21784648,14760,2017-03-10T17:38:00.000,2017-03-10T21:44:00.000,3065.0,34.060558,-118.238327,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90012.0
7,22506739,79020,2017-03-17T19:20:00.000,2017-03-18T17:17:00.000,3063.0,34.049198,-118.252831,3000.0,NaN,NaN,...,Walk-up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90013.0

## Get the clean dataframe to be used

In [17]:
final_bike = bike_df_no_nans_zip[["New Zip", "Trip ID"]].copy()
final_bike.head()

   New Zip   Trip ID
0  90014.0  18222186
2  90012.0  20444932
3  90012.0  20905031
6  90012.0  21784648
7  90013.0  22506739

In [18]:
final_bike.shape

(81, 2)

In [19]:
groupby_zip_bikes = final_bike.groupby("New Zip").count()
groupby_zip_bikes

         Trip ID
New Zip
90012.0       26
90013.0       23
90014.0       12
90015.0       10
90017.0        6
90021.0        2
90071.0        2

In [20]:
groupby_zip_bikes.reset_index(inplace=True)
groupby_zip_bikes

   New Zip  Trip ID
0  90012.0       26
1  90013.0       23
2  90014.0       12
3  90015.0       10
4  90017.0        6
5  90021.0        2
6  90071.0        2

In [21]:
groupby_zip_bikes.rename(index=str, columns={"New Zip":"new_zip","Trip ID": "bike_ride_count"}, inplace=True)
groupby_zip_bikes

   new_zip  bike_ride_count
0  90012.0               26
1  90013.0               23
2  90014.0               12
3  90015.0               10
4  90017.0                6
5  90021.0                2
6  90071.0                2

In [22]:
# Get only the columns that we need and make a new dataframe
new_crimes_df = crimes_df[["DR.NO", "Zipcode"]].copy()
new_crimes_df.head()

       DR.NO  Zipcode
0  132007717    90004
1  130608787    90068
2  131820260    90002
3  131817514    90002
4  130510483    90501

In [23]:
new_crimes_df.shape

(100, 2)

In [24]:
groupby_zip_crimes = new_crimes_df.groupby("Zipcode").count()
groupby_zip_crimes.head()

         DR.NO
Zipcode
90002        2
90004        2
90007        1
90008        3
90012        1

In [25]:
# Reset set the index
groupby_zip_crimes.reset_index(inplace=True)
groupby_zip_crimes.head()

   Zipcode  DR.NO
0    90002      2
1    90004      2
2    90007      1
3    90008      3
4    90012      1

In [26]:
groupby_zip_crimes.rename(index=str, columns={"Zipcode":"zipcode","DR.NO": "crime_count"}, inplace=True)
groupby_zip_crimes.head()

   zipcode  crime_count
0    90002            2
1    90004            2
2    90007            1
3    90008            3
4    90012            1

## Connect to local database

In [33]:
rds_connection_string = f"postgres:{pkey}@localhost:5432/bike_crime_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

## Check for tables

In [34]:
engine.table_names()

['crimes_la', 'bike_la']

In [35]:
groupby_zip_bikes.to_sql(name='bike_la', con=engine, if_exists='append', index=False)

In [36]:
groupby_zip_crimes.to_sql(name='crimes_la', con=engine, if_exists='append', index=False)

In [37]:
pd.read_sql_query('SELECT * FROM bike_la', con=engine).head()

   new_zip  bike_ride_count
0    90012               26
1    90013               23
2    90014               12
3    90015               10
4    90017                6

In [38]:
pd.read_sql_query('SELECT * FROM crimes_la', con=engine).head()

   zipcode  crime_count
0    90002            2
1    90004            2
2    90007            1
3    90008            3
4    90012            1